.compose-pull-logs-modal .n-dialog__content{margin-top:0;margin-bottom:0}.compose-pull-logs-modal .n-dialog__close{top:-8px}.compose-logs-modal .n-dialog__content{margin-top:0;margin-bottom:0}.compose-logs-modal .n-dialog__close{top:-8px}
