

:root {
  --top-inset: env(safe-area-inset-top);
  --bottom-inset: env(safe-area-inset-bottom);
  --layout-padding: 12px;

  @media (max-width: 768px) {
    --layout-padding: 8px;
  }
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}



.n-message-container{
  padding-top: var(--top-inset);
  padding-bottom: var(--bottom-inset);
}


@supports (backdrop-filter: blur(1px)) or (-webkit-backdrop-filter: blur(1px)) {
  .n-popover:not(.n-popover--raw),
  .n-dropdown-menu{
    background-color: transparent;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      right: 0;
      bottom: 0;
      backdrop-filter: blur(20px) brightness(95%);
      border-radius: var(--n-border-radius);
      animation: none;
    }

    .n-popover-arrow-wrapper .n-popover-arrow{
      background-color: color-mix(in srgb, var(--n-color) 5%, transparent);
      backdrop-filter: blur(20px) brightness(95%);
    }
  }
  .n-dialog {
    background-color: color-mix(in srgb, var(--n-color) 30%, transparent);
    backdrop-filter: blur(20px) brightness(95%);
  }
  [data-theme='light'] {
    .n-popover:not(.n-popover--raw), .n-dropdown-menu{
      color: var(--n-color);
    }
  }
}
